body{
    font-family: 'Ubuntu', sans-serif;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
p{
    color: #8f8f8f;
}
.container-fluid{
    padding: 3% 15% ;
}
.title-img{
    width: 60%;
    transform: rotate(25deg);
    position: relative;
    right: -15%;
}
.feat-box{
    text-align: center;
    padding: 5%;
}
.ctacl{
    padding-bottom: 35px;
}
.navbar{
    padding: 0 0 4.5rem 0;
}
.navbar-brand{
    font-size:2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}
.download-button{
    margin:5% 3% 5% 0;
}

.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px 20px 10px;
}
.press-logo{
    width: 15%;
    margin: 0px 20px 50px;
}
.carousel-item{
    height: 500px;
}
.pricing-column {
    padding: 3% 5%;
}
#press{
    text-align: center;
    background-color: #ff4c68;
    padding-bottom: 3%;
}
#pricing{
    padding: 100px;
    text-align: center;
}
#cta{
    text-align: center;
    background-color: #ff4c68;
    color: white;
    padding: 6% 10%;
}
#butdw{
    margin-right: 20px;
}
#footer{
    text-align: center;
    margin: 35px;
}
#title{
    color:#fff;
    background-color: #ff4c68;
}
#features{
    padding: 7% 15%;
    background-color: white;
}
#testimonials{
    padding: 7%;
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
} 